body {
  margin:auto;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  max-width:700px;
  text-align:left;
}

p {
    margin: 0px;
}

.rota {
  position:absolute;
  z-index:0;
}

#header {
  border-width:0px;
  position:absolute;
  left:100px;
  top:9px;
  width:279px;
  height:81px;
  font-family:'Impact Bold', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:130px;
  text-align:center;
}

#goto {
  color:#000033;
}

#rota {
  color:#000000;
}

#box {
  border-width:0px;
  position:absolute;
  left:80px;
  top:199px;
  width:571px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}


#box_header {
  border-width:0px;
  position:absolute;
  left:290px;
  top:229px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'serif';
  font-size:25px;
  font-style:normal;
  white-space:nowrap;
}

#create {
	position:absolute;
	left:420px;
	top:149px;
	font-family: 'Caflisch Script Pro', 'cursive';
	font-size: 17px;
	width:200px;
}

#name_input_box {
  border-width:0px;
  position:absolute;
  left:280px;
  top:310px;
  width:300px;
  height:25px;
}
#colNumber {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#password_input_box {
  border-width:0px;
  position:absolute;
  left:280px;
  top:365px;
  width:300px;
  height:25px;
}
#passwordReset {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}

#intro {
  border-width:0px;
  position:absolute;
  left:175px;
  top:310px;
  width:96px;
  height:24px;
  font-size:20px;
  white-space:nowrap;
}

#password_label {
  border-width:0px;
  position:absolute;
  left:175px;
  top:365px;
  width:95px;
  height:24px;
  font-size:20px;
  white-space:nowrap;
}

#submit_box {
  border-width:0px;
  position:absolute;
  left:451px;
  top:420px;
  width:165px;
  height:41px;
}
#submitReset {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
