body {
  margin:auto;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  max-width:700px;
  text-align:left;
}

p {
    margin: 0px;
}

.rota {
  position:absolute;
  z-index:0;
}

#header {
  border-width:0px;
  position:absolute;
  left:180px;
  top:9px;
  width:279px;
  height:81px;
  font-family:'Impact Bold', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}

#goto {
  color:#000033;
}

#rota {
  color:#000000;
}

#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:9px;
  width:279px;
  height:81px;
  font-family:'Impact Bold', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:279px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 0, 51, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 51, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 51, 0.349019607843137);
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:222px;
  width:5px;
  height:20px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:179px;
  width:1px;
  height:16px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:159px;
  width:571px;
  height:312px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:567px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:179px;
  width:132px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:258px;
  width:300px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:325px;
  width:300px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:258px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:325px;
  width:95px;
  height:24px;
  font-size:20px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:397px;
  width:165px;
  height:41px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
